.blackTile {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  z-index: 2;
  height: 75%;
  width: 10%;
  color: white;
  background-color: black;
  margin: 0% -5% 0% -5%;
}

.whiteTile {
  border-style: solid;
  border-color: black;
  border-width: 2.5px;
  z-index: 1;
  height: 100%;
  width: 15%;
  background-color: white;
}

.tile {
  border-style: solid;
  border-color: black;
  flex: 1;
  display: inline-flex;
  align-items: center;
}
