.container {
  text-align: center;
  border-style: solid;
  border-width: 10px 4px 4px 2px;
  flex: 9;
  margin: 10% 10% 10% 10%;
  min-height: 200px;
  max-height: 400px;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: -900;
}
